html, body{

    background-color: rgb(0,0,0);
    margin: 0;
    padding: 0;
    color: aliceblue;
    display:flex;
    flex-direction: column;
    align-items:center;
}
div#container{
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     border: 30px solid rgb(7, 30, 72);
     border-radius: 30px;
     box-shadow: 40% rgb(199, 87, 39);
}

#rock{
    height: 200px;
    width: 200px;
    font-size: 200px;
    background-color:rgb(0,0,0) ;
    border: 0;


}
#paper{ 
    height: 200px;
    width: 200px;
    font-size:200px;
    background-color:rgb(0,0,0) ;
    border: 0;

}
    
#scissors{ 
    height: 200px;
    width: 200px;
    font-size: 200px;
    background-color:rgb(0,0,0) ;
    border: 0;

}

header{
    margin: 40px;
    color: rgb(188, 197, 205);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.score{ 
    
    border: 10px double rgb(7, 30, 72);

    color: brown;
    font-size: 20px;
    height: 30px;
    width: 500px;
    text-align:center ;

}
.game{
    margin: 20px;
    color: aquamarine;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 30px;
    width: 150px;
}

.choice{
    height: 60px;
    width: 200px;
    text-align: center;
    color: rgb(53, 130, 185);
    font-size: 25px;
    font-family: monospace;
    
}
.winner{
    height: 40px;
    width: 200px;
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}


dialog{
    background-color: yellow;
    opacity: 25%;
    height: 200px;
}
#restart{
    height :20px;
}
